:root {
  --clr-black: #050709;
  --clr-white: #fff;
  --clr-caffe: #291507;
  --clr-ligh-caffe: #E3E1DC;

  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-mystery: 'Mystery Quest', cursive;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}